* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: rgb(227, 208, 90);
}

nav {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px;
    text-align: center;
}

#home {
    background: #c3d53c;
    padding: 100px 20px;
}

#projects .project {
    background: #b2d9d8c7;
    padding:20px;
    margin: 10px;
    border-radius: 10px;
}

#contact form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(153, 209, 69);
}

#contact input, #contact textarea {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #5d703b;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    background: #d81818;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #100a0a;
}
footer{
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    margin-top: 20px;
}
